body{
    padding-top: 150px;
    background-color: hsl(233, 47%, 7%);
}
.card{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    border-radius: 10px;
    background-color: hsl(244, 38%, 16%); 
    margin:auto;
    width: 1080px;       
}
.left{
    font-size: 15px;
    color:blanchedalmond;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width:45%;
    margin:20px 0px 0px 0px;          
}
.right{      
    width:55%;                    
}
img{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    left:60px;
    margin: 0px 0px -4px 0px;
    max-height: 100%;
    max-width:100%;
}
.packages{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:0px 50px 0px 100px;
    font-family: 'Lexand Deca', sans-serif;
}
.col{
    margin:20px 50px 0px 50px;
}
h1{   
    font-size: 30px;    
    margin:-20px 50px 0px 100px;
}
.header{
    margin: 0px 50px 0px 100px;    
    padding: 20px 0px 10px 0px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }